.settings-sort-wrapper {
    padding: 10px;

    .settings-sort-section {
        .settings-sort-item {
            padding: 11px 0;

            & > span {
                padding-left: 10px;
            }
        }
    }
}