.page-about {
    .app-logo {
        display: block;
        margin: 0 auto;
        transition: 100ms ease transform;
        height: 300px;

        &:active {
            transform: scale(1.05);
        }
    }
    .text-center {
        position: relative;
        z-index: 2;
    }
    .developer {
        text-align: center;
    }
    .issue-wrapper {
        margin-top: 20px;
        white-space: pre-line;
    }
}