.tags-wrapper {
    display: flex;
    overflow-x: auto;
    padding: 5px 0;
    margin-top: 5px;

    .tag-wrapper {
        flex-shrink: 0;

        &.active {
            .tag {
                background-image: url("../../../media/img/tick.svg");
                background-size: 14px;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &:first-child {
            .tag {
                border: 1px solid #000;
            }
        }
        .tag {
            width: 36px;
            height: 36px;
            border-radius: 20px;
            position: relative;
            box-sizing: border-box;
        }

    }
}