.customcheckbox-wrapper {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 22px;
        height: 22px;
        display: block; 
    }
}