.password-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 5px;
    flex-direction: column;
    justify-content: center;

    .greeting {
        font-size: 1.6em;
        margin-bottom: 40px;
        margin-top: -67px;
    }

    .password-input-wrapper {
        width: 100%;
        display: flex;
    
        button img {
            height: 20px;
        }
    }

    .reset-password {
        position: absolute;
        top: 0;
        right: 0;
        color: #868383 !important;
        font-size: 13px;
    }

    .reset-password-notification {
        position: absolute;
        top: 0;
        padding: 10px;
        text-align: center;
        color: #c72929 !important;
        font-size: 13px;
        font-weight: 600;
    }
}