.settings-password-page-wrapper {
    .reset-password-wrapper {
        padding-top: 10px;
        font-size: 13px;
        color: #868383;

        .reset-password-email,
        .reset-password-email-no-user span {
            padding-left: 6px;
        }
    }
}