.attached-image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    margin-top: 5px;

    .attached-image {
        width: 100%;
        height: auto;
        display: block;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, .4);

        img {
            width: 18px;
            height: 18px;
        }
    }
}