.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 12;
    background: rgba(0, 0, 0, 0.55);
    padding: 16px;
}
.modal {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    background: #fff;
    outline: none;

    .modal-inner {
        padding: 11px 16px;
    }

    .actions-modal-inner {
        button {
            font-size: 1em;
            width: 100%;
            text-align: left;
            justify-content: flex-start;
            height: 46px;
            border-bottom: 1px solid #eceaea;
        }
        button:last-of-type {
            border: none;
        }
    }
}