.modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 12;
    background: rgba(0, 0, 0, 0.55);
    padding: 16px;
}
.modal {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    background: #fff;
    outline: none;
    border-radius: 6px;
    overflow: hidden;

    .modal-inner {
        padding: 20px;
        padding-bottom: 15px;
    }

    .action-buttons-wrapper {
        display: flex;
        padding-top: 10px;
        justify-content: flex-end;
        margin-bottom: -10px;

        button {
            text-transform: uppercase;
        }
    }
}