.note-wrapper {
    margin: 10px 5px;
    position: relative;
    overflow: hidden;
    border-radius: 6px;

    .title-wrapper {
        display: flex;
        align-items: center;
    }

    .priority-label {
        height: 12px;
        width: 12px;
        margin-right: 10px;

        .arrow {
            height: 7px;
            width: 7px;
            border-top: 2px solid #fff;
            border-left: 2px solid #fff;
            margin-left: 2px;

            &.top {
                margin-top: 5px;
                transform: rotate(45deg);
            }

            &.bottom {
                transform: rotate(-135deg);
            }

            &.red {
                border-color: #c74141;
            }

            &.blue {
                border-color: #6767d3;
            }

            &.green {
                border-color: #6ac56a;
            }
        }
    }

    .note-header-priority {
        position: absolute;
        top: 50%;
        left: 7px;
        z-index: 3;
        height: 14px;
        margin-top: -7px;

        &.rotated {
            transform: rotate(180deg);
        }

        + .note-content {
            padding-left: 23px;
        }
    }

    .tag {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5px;
        left: 0;
        z-index: 3;
    }

    &.expanded .note-content {
        max-height: none;
    }

    .note-content {
        padding: 10px;
        position: relative;
        display: block;
        border: 1px solid #e8e8e8;
        background: #fcfcfc;
        border-radius: 6px;
        box-sizing: border-box;
        padding-right: 40px;
        padding-left: 13px;
        min-height: 90px;
        max-height: 110px;

        .note-header {
            margin-top: -3px;
            // margin-bottom: 3px;
            display: flex;
            align-items: center;

            .note-header-time {
                font-size: 0.86em;
                color: #6f6868;

                &:last-of-type {
                    margin-right: 10px;
                }
            }
            .note-header-time-divider {
                display: inline-block;
                padding: 0 5px;
                font-size: 0.86em;
                color: #6f6868; 
            }

            .notification-identifier {
                height: 16px;
                margin-right: 10px;
                display: block;
            }
            .repeat-identifier {
                height: 12px;
                display: block;
            }
        }

        /* action buttons */
        .more-button {
            position: absolute;
            top: 0px;
            right: 0px;

            img {
                height: 18px;
            }
        }
        .note-finish-checkbox {
            position: absolute;
            top: 42px;
            right: 0px;
        }

        /* title */
        .note-title {
            font-size: 1.3em;
        }

        // item data
        .item-data-text {
            padding-top: 5px;
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        .attached-image-wrapper {
            border-radius: 6px;
            overflow: hidden;
            margin-top: 5px;

            .attached-image {
                width: 100%;
                height: auto;
                display: block;
            }
        }
        .attached-image-label {
            margin-top: 5px;
            display: block;
            font-weight: bold;
            font-size: 0.86em;
        }
    }
}