.set-time-actions-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;

    .divider {
        padding: 0 8px;
    }


    .set-time-action-wrapper {
        display: flex;
        align-items: center;

        .set-time-reset {
            width: 30px;
            height: 30px;

            img {
                height: 10px;
            }
        }
    }
}