.trash-list-item {
    position: relative;

    .restore-button {
        position: absolute;
        top: 0;
        z-index: 3;
        right: 5px;

        img {
            width: 22px;
            height: 22px;
        }
    }

    .note-draggable-wrapper {
        margin-top: -27px;
    }

    .deleted-time {
        position: relative;
        z-index: 2;
        padding: 5px 15px;
    }

    .more-button, .note-finish-checkbox {
        display: none;
    }

    .note-content {
        padding-top: 30px;
    }    
}