.add-wrapper {
    background: #fff;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px 0;
    padding-bottom: 0px;

    .add-content-wrapper {
        padding: 0 10px;
        flex-grow: 1;
        overflow-y: auto;  

        input.title {
            color: #111;
            font-size: 1.2em;
            border: none;
        }

        .add-actions-wrapper {
            display: flex;
            padding: 10px 0;

            button {
                flex: 1;
                font-size: 14px;
                color: #aaa;

                &.camera-button {
                    flex-basis: 60px;
                    flex-shrink: 0;
                    flex-grow: 0;
                    
                    img {
                        height: 30px;
                        margin: auto;
                    }
                }

                img {
                    height: 28px;
                    margin: 0;
                }
                span {
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .add-additionals-wrapper {
        flex-basis: 212px;
        flex-shrink: 0;
        height: 212px;  
        padding: 0 10px;         
        background: #fafafa;
        border: 1px solid #e7e7e7;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom: 0;
        margin: 0 -1px;
        position: relative;
        transition: 100ms ease all;
        top: 0;
        overflow: hidden;

        &.hidden {
            display: none;
        }

        &.hidden-triggered {
            height: 18px;
            flex-basis: 18px;
        }

        .color-picker-list-wrapper {
            margin-top: 0px;
        }

        .toggle-icon-wrapper {
            padding: 10px;
            width: 30px;
            margin: 0 auto;
            margin-bottom: -10px;
            margin-top: -5px;
    
            .line {
                height: 2px;
                background: #5f5f5f;
            }
        }

        .set-time-wrapper {
            border-bottom: 1px solid #eceaea;
        }

        .priority-select {
            border: none;
        }
    }
}

.time-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}