.fast-add-wrapper {
    border-top: 1px solid #f1f1f1;
    background: #fcfcfc;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    
    textarea {
        background: transparent;
        min-height: auto;
        transition: 200ms ease all;
    }

    button {
        flex-shrink: 0;    
    }
}