.list-item {
    padding: 16px 0;
    min-height: 50px;
    flex: 1;
    align-items: center;
    border-bottom: 1px solid #eceaea;
    display: flex;
    width: 100%;
    font-size: 1em;
    height: unset;
    box-sizing: border-box;

    &:last-child {
        border-bottom: none;
    }

    &.no-padding {
        padding: 0 !important;
    }

    &.no-border {
        border: none !important;
    }

    button {
        height: auto;
    }

    .list-item-text {
        color: #333;
        flex: 1;
        font-size: 1em;
        text-align: left;
    }
    .list-item-value {
        font-size: 1em;
        color: #868383;
    }
    .list-item-img {            
        width: 14px;
        height: 14px;
        margin-right: 10px;
    }
    input[type=checkbox] {
        width: 19px;
        height: 19px;
    }

    &.inset-list-item {
        text-align: left;
    }

    &.trigger-list-item {
        text-align: left;
        
        &.active {
            border-bottom: none;

            .list-item-img {            
                transform: rotate(90deg);
            }
        }

        &.disabled {
            opacity: 0.6;  
            pointer-events: none;
        }

        &.no-border {
            border-bottom: none;
        }
    }

    &.tiny {
        padding: 8px 0;
        min-height: 38px;
    }

    &.no-touchable {
        opacity: 1 !important;      
    }

    &.switch-list-item {
        &.disabled {
            opacity: 0.6;
            pointer-events: none;
        }
    }
}