.radio {
    width: 17px;
    height: 17px;
    border: 2px solid #414040;
    border-radius: 10px;
    position: relative;
    display: block;

    &.active .radio-inner{
        opacity: 1;        
    }

    .radio-inner {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -4px;
        margin-left: -4px;
        width: 8px;
        height: 8px;
        background: #414040;
        border-radius: 10px;
    }

    input {
        display: none;
    }
}
.radio-wrapper {
    display: flex;
    align-items: center;
    
    span {
        display: inline-block;
        margin-left: 10px;
    }
}

.radio-group {
    .radio-wrapper {
        padding: 8px 0; 
    }
}