.light-checkbox-wrapper {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-checkbox-wrapper .light-checkbox {
    position: relative;
    height: 22px;
    width: 22px;
}
.light-checkbox-wrapper .light-checkbox:before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    background: transparent;
    border: 1px solid #c7c7cd;
    border-radius: 22px;
    left: 0;
    top: 0;
    box-sizing: border-box;
}
.light-checkbox.active:before {
    background: #414040;
    border: none;
}
.light-checkbox:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 6px;
    width: 11px;
    height: 5px;
    background: transparent;
    border: 1px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    box-sizing: border-box;
}
.light-checkbox.active:after {
    opacity: 1;
}