.light-calendar-wrapper {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    flex-shrink: 0;

    .light-calendar-swiper-item {
        display: flex;
    }

    .week-days {
        display: flex;

        span {
            font-size: 0.84em;
            flex: 1;
            color: #fff;
            text-align: center;
        }
    }
}