@import './Fonts.scss';

html {
    font-size: 15px;
    font-family: "Roboto";
    color: #222;
}
body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}
button, input, textarea {
    font-family: inherit;   
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



// text
h3 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
}



// LAYOUT
#root {
    height: 100%;    
}
.app-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.page-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.scroll {
    overflow-y: auto !important;
}
.page-content {
    background: #fff;
    flex: 1 1;
    overflow: hidden;

    &.padding {
        padding: 10px 14px;
    }
}



.text-center {
    text-align: center !important;
}

.inline-block {
    display: inline-block !important;
}

.flex {
    display: flex !important;
}
.flex-align-center {
    align-items: center !important;
}
.flex-justify-space-between {
    justify-content: space-between !important;
}

.f-600 {
    font-weight: 600 !important;
}

.m-0 {
    margin: 0 !important;
}
.p-0 {
    padding: 0 !important;
}

.hidden {
    display: none;
}

.c-gray {
    color: #868383 !important;
}
.c-warn {
    color: #ce4747;
}
.c-success {
    color: #5bce47;
}

// BUTTON
button,
.button {
    background: transparent;
    border: none;
    outline: none;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;

    &:active {
        background: transparent;
        opacity: 0.5;
    }
    &[disabled],
    &.disabled {
        opacity: 0.5;
        pointer-events: none;    
    }
    img {
        height: 22px;
        width: auto;
        margin: auto;
    }

    &.text {
        width: auto;
        padding: 0 16px;
        color: #fff;
        background: #00213c;

        &.clear {
            background: transparent;
            color: #222;
        }

        &.block {
            width: 100%;
            border-radius: 6px;
        }
    }

    &.img-text-button {
        img {
            margin: 0;
            margin-right: 16px;
            height: 20px;
        }
    }
}
.clickable {
    &:active {
        background: transparent;
        opacity: 0.5;
    }
}



// INPUTS
input,
textarea {
    border: none;
    border-bottom: 1px solid #e0d9d9;
    padding: 13px 5px;
    display: block;
    outline: none;
    width: 100%;
    box-sizing: border-box; 
    font-size: 1em;
    background: transparent;

    &:focus {
        border-bottom: 1px solid #414040;	
    }
    &::-webkit-input-placeholder {
        font-size: 1em
    }
}
textarea {
    resize: none;
    border-bottom: none !important; 
    font-family: 'Roboto';
}
select {
    font-family: 'Roboto'; 
    border: none;
    font-size: 1em;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #e0d9d9;
}



.padding .list-items-block {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: -10px;
        right: -10px;
        border-bottom: 1px solid #eceaea;
    }
}

.list-items-block-header {
    display: inline-block;
    padding: 10px;
    padding-bottom: 0;
    color: #868383;
}



button.google-in {
    background: #db4437 !important;
}



.backup-migration-modal {
    .action-buttons-wrapper button {
        text-transform: none;
        height: auto;
        min-height: 42px;
    }
}

.inverted {
    .page-wrapper {
        flex-direction: column-reverse;
    }
    .notes-list-wrapper {
        flex-direction: column-reverse;
    }
    .calendar-trigger {
        transform: rotate(180deg) translate(0px, 13px);
    }
}

.sidenav-tags-list .tag {
    margin-bottom: 5px;
    margin-right: 5px;
}

// night mode
.night-mode {
    color: #eee;

    .theme-header-background {
        background: #222;
    }
    .theme-header-border {
        border-color: #222;
    }
    .page-content {
        background: #383838;
    }

    .page-wrapper {
        background: #383838;
    }

    input, textarea {
        color: #eee;
    }

    input {
        border-bottom: 1px solid #ccc;
    }

    ::placeholder {
        color: #eee;
    }

    .list-item {
        border-bottom: none;

        .list-item-text {
            color: #eee;
        }

        .list-item-img {
            filter: invert(1);
        }
    }

    .radio-wrapper {
        color: #eee;

        .radio {
            border-color: #eee;

            .radio-inner {
                background: #eee;
            }
        }
    }

    .modal {
        background: #5e5e5e;
    }

    button {
        &.text:not(.clear) {
            background: #5e5e5e;
        }
        &.text {
            color: #eee;
        }
        &.fab img {
            filter: none;
        }
        &.block img {
            filter: none;
        }

        img {
            filter: invert(1);
        }
    }

    header {
        button {
            img {
                filter: none;
            }
        }
    }

    .add-wrapper {
        .note-actions-wrapper {
            background: #333333;
            border-color: #292929;

            .content-items-actions-wrapper {
                border-color: #292929;
            }
        }

        .notification-switch-wrapper img {
            filter: invert(1);
        }
    }

    .color-item-wrapper.active {
        .color-item.black-tick {
            background-image: url("./assets/img/tick.svg");
        }
    }

    .note  {
        .note-content {
            border-color: #222;
            background: #222;
            color: #eee;

            .note-finish-checkbox,
            .repeat-identifier,
            .notification-identifier,
            .more-button img {
                filter: invert(1);
            }
        }
    }

    .note-wrapper.sortable-chosen .note-content {
        border-width: 2px;
        border-color: #b4b4b4;
    }

    .trash-list-page-content {
        .restore-button {
            filter: invert(1);
        }
    }

    .sidenav {
        background: #383838;

        .logo-wrapper {
            border-color: #292929 !important;
        }

        .items-block {
            border-color: #292929 !important;
        }

        .sidenav-tag-wrapper {
            img {
                filter: invert(1);
            }
        }
    }

    .c-gray {
        color: #ffffff !important;
    }

    .tag {
        background: #5f5f5f;

        &.theme-tag {
            background: #1d1d1d;
        }
    }

    .search-input-wrapper {
        input {
            background-image: url("./assets/img/search.svg");
        }
    }

    .page-about {
        a {
            color: #fff;
        }
    }

    .quick-add {
        background: #383838;
    }
}