.notes-list-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;

    .notes-list-swiper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 100%;

        & > div {   
            display: flex;  
            height: 100%; 
            flex-grow: 1;
        }

        .notes-list-item-wrapper {
            overflow-y: auto;
        }

        .no-content {
            text-align: center;
            font-size: 1.1em;
            margin-top: 16px;
            color: #827777;
        }
    }

    .current-date-shower {
        padding-bottom: 10px;
        color: #fff;
        text-align: center;
    }
}