.notes-list-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;

    .notes-list-swiper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 100%;

        & > div {   
            display: flex;  
            height: 100%; 
            flex-grow: 1;
        }

        .notes-list-item-wrapper {
            // overflow-y: auto;
            overflow: hidden;

            & > div {
                overflow: hidden;
            }
        }

        .no-content {
            text-align: center;
            font-size: 1.1em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #cac7c7;
            text-transform: uppercase;
        }
        .week-header ~ .no-content {
            margin: 5px;
        }
    }

    .week-header {
        background: #f3f3f3;
        display: flex;
        align-items: center;
        padding: 7px 10px;
        position: sticky;
        top: 0;
        z-index: 99999;

        img {
            height: 20px;
            display: block;
        }

        span {
            display: block;
            line-height: 1;
            padding-left: 10px;
            text-transform: capitalize;            
        }
    }

    .finished-split {
        text-align: center;
        font-size: 1.1em;
        margin: 10px 16px;
        color: #cac7c7;
        text-transform: uppercase;
        position: relative;

        .finished-split-content {
            padding: 0 16px;
            background: #fff;
            z-index: 2;
            position: relative;
        }
    }
}