.search-results-wrapper {
  padding: 10px 0;
  position: relative;

  .date-item {
    .date-item-date {
      padding: 0 10px;
      text-align: center;
      color: #aaa;
      font-weight: 600;
    }
  }
}