.backup-page-wrapper {
    .backup-info {
        margin-bottom: 20px;
    }

    button.google-in {
        background: #db4437;
    }

    .profile-wrapper {
        display: flex;
        position: relative;
    }
    .profile-img-wrapper {
        width: 96px;
        height: 96px;
        margin-right: 10px;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 10px;
    }
    .profile-data-wrapper {
        flex-grow: 1;

        .name {
            font-size: 1.4em;
        }
    }

    button.log-out {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;

        img {
            height: 20px;
            width: 20px;
        }
    }

    .backup-file-date {
        text-align: center;
        margin-top: 10px;
    }

    .local-backup-wrapper {
        padding-top: 10px;
        margin-top: 20px;
        border-top: 1px solid #dedede;
    }

    .backup-actions-buttons-wrapper {
        display: flex;

        button:not(:last-of-type) {
            margin-right: 10px;
        }
    }
}