.switch {
    position: relative;
    height: 18px;
    width: 18px;
    padding: 10px;
    margin: -10px;
    margin-right: -1px;
}
.switch-asix {
    height: 6px;
    width: 18px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -9px;
    z-index: 1;
    background-color: #a5a4a4;
}
.switch-circle {
    width: 18px;
    height: 18px;
    background: #f1f1f1;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .4);
    border-radius: 9px;  
    position: relative;
    left: 0;
    z-index: 2;   
    transition: 100ms ease all;
    margin-left: -9px; 
}
.switch.active .switch-circle {
    left: 100%;
    background-color: #414040;

}
.switch.disabled {
    opacity: 0.4;
}