.expandable-wrapper {
  .expandable-control-wrapper {
    display: flex;
    align-items: center;

    .expand-trigger {
      img {
        height: 18px;

        &.rotated {
          transform: rotate(180deg);
        }
      }
    }
  }
}