header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 7px;
    flex-basis: 48px;
    flex-shrink: 0;

    .left-wrapper, .right-wrapper {
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .buttons {
        display: flex;
        align-items: center;

        button, 
        .button {
            margin-left: 10px;
        }
    }

    .buttons-left {
        button,
        .button {
            margin-left: 0;
            margin-right: 10px;
        }
    }

    .current-date {
        display: flex;
        flex-direction: column;
        
        .day {
            font-size: 1.44em;
            padding: 0;
            text-transform: capitalize;                                        
        }
        .date {
            font-size: 0.94em;
            padding: 0;
        }
    }
}

.page-title {
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}