header {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 3px 7px;
    flex-basis: 48px;
    flex-shrink: 0;
    justify-content: space-between;
    position: relative;

    .left-wrapper, .right-wrapper {
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .right-wrapper {
        flex-shrink: 0;
    }

    .buttons {
        display: flex;
        align-items: center;

        button,
        .button {
            margin-left: 8px;
        }
    }

    .buttons-left {
        button,
        .button {
            margin-left: 0;
            margin-right: 10px;
        }
    }

    .multi-floor-title {
        text-align: center;
        position: absolute;
        left: 50%;
        top: calc(50% - 3px);
        transform: translate(-50%, -50%);

        .top-section {
            font-size: 19px;
            text-transform: capitalize;
        }
        .bottom-section {
            font-size: 12px;
        }
    }

    .page-title {
        font-size: 18px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}