.removable-text-checkbox-wrapper {
    display: flex;
    align-items: center;
    position: relative;

    .content-input {
        overflow: hidden;
        flex: 1;
        position: relative;
        width: unset;
        margin-right: 30px;

        &.crossed {
            text-decoration: line-through; 
        }

        &:not(:focus) + button {
            transition-delay: 10ms;
            visibility: hidden;
        }
    }
    
    button {
        width: 30px;
        position: absolute;
        right: 0;
        height: 100%;
        opacity: 0.4;

        img {
            width: 10px;
            height: 10px;
        }
    } 
}