.settings-visual-wrapper {
    height: 100%;    
    padding: 10px;

    .settings-visual-item {       
        .settings-visual-item-title {
            flex-shrink: 0;
            margin-right: 20px;
        }
    }
}