.tag-edit-wrapper, .tag-add-wrapper {
  display: flex;
}

.tag-edit-wrapper {
  .remove-button{
    img {
      height: 11px;
    }
  }
}

.tag-edit-wrapper + .tag-add-wrapper {
  margin-top: 40px;
}

.tag-add-wrapper {
  .add-button {
    img {
      height: 20px;
    }
  }
}