.calendar-wrapper {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: #fff;
    text-align: center;
    flex-shrink: 0;

    .calendar-swiper > div {
        display: flex;
    }

    .calendar-month {
        &.active {
            .calendar-month-container {
                position: static;
            }
        }

        .calendar-month-container {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
        }
    }

    .calendar-week {
        display: flex;
    }

    .week-days {
        display: flex;

        span {
            font-size: 0.84em;
            flex: 1
        }
    }
}