.notes-list-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;

    .calendar-trigger-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 2;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .calendar-trigger {
            padding: 0 30px;
            padding-bottom: 14px;
            margin-bottom: -12px;

            img {
                display: block;
                height: 20px;

                &.rotated {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .notes-list-swiper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: 100%;

        & > div {   
            display: flex;  
            height: 100%; 
            flex-grow: 1;
        }

        .notes-list-item-wrapper {
            //overflow-y: auto;
            display: flex;
            & > div {
                flex: 1;
                overflow-y: auto;
            }
        }
    }

    .notes-list-without-time-wrapper {
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;
    }

    .no-content {
        text-align: center;
        font-size: 1.1em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #cac7c7;
        text-transform: uppercase;
    }

    .week-header {
        background: #f3f3f3;
        display: flex;
        align-items: center;
        padding: 7px 10px;
        position: sticky;
        top: 0;
        z-index: 99999;

        img {
            height: 20px;
            display: block;
        }

        span {
            display: block;
            line-height: 1;
            padding-left: 10px;
            text-transform: capitalize;            
        }

        & ~ .no-content {
            margin: 5px;
        }
    }

    .finished-split {
        text-align: center;
        font-size: 1.1em;
        margin: 10px 16px;
        color: #cac7c7;
        text-transform: uppercase;
        position: relative;

        .finished-split-content {
            padding: 0 16px;
            z-index: 2;
            position: relative;
        }
    }

    .note-wrapper.sortable-chosen .note-content {
        border-width: 2px;
        border-color: #b4b4b4;
    }

    .note-wrapper.sortable-chosen.sortable-ghost {
        opacity: 0.4;

        .note-content {
            border-width: 1px;
        }
    }
}